/*  BODY   */

html {
  font-size: 18px;
  font-family: Helvetica;
  margin: 0 auto;
  width: 960px;
}

/*  HEADER  */

.logo {
  font-size: 1rem;
  background-color: black;
  width: 100%;
  top: 0px;
  display: inline-flex;
  align-items:center;
  justify-content: flex-start;
  padding-top: 0.66rem;
  padding-bottom: 0.66rem;
}

.logoimg {
  background-image: url(https://s3.amazonaws.com/codecademy-content/courses/freelance-1/unit-5/secret-agent-supply/resources/images/logo.png);
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
  height: 1.5rem;
  width: 4rem;
  margin-left: 3.5rem;
  margin-right: 1rem;
  display: flex;
}

.logotitle {
  color: white;
}

.imageheader {
  background-image: url(https://s3.amazonaws.com/codecademy-content/courses/freelance-1/unit-5/moto.jpeg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  height: 25rem;
  display: flex;
  justify-content: left;
  align-items: center;
}

.textheader {
  background-color: black;
  color: white;
  max-width: 20rem;
  text-align: left;
  display: block;
  align-items: center;
  justify-content: center;
  margin-left: 4rem;
  margin-top: 9rem;
  padding-left: 3rem;
  padding-right: 3rem;
}

.textheader p {
  font-family: Helvetica;
  font-size: 1rem;
  font-weight: bold;
  padding-top: 2rem;
  padding-bottom: 0.25rem;
}

.textheader h1 {
  font-family: Helvetica;
  font-size: 2rem;
  font-weight: bold;
  padding-bottom: 2rem;
}

.nav {
  background-color: firebrick;
  color: white;
  width: 100%;
  padding-top: 0.75rem;
  padding-bottom: 0.75rem;
  align-items: center;
  justify-content: space-around;
  display: inline-flex;
}


/* MIDDLE SECTION */

.middle {
  display: column;
  justify-content: center;
  margin-top: 3rem;
  width: 960px;
}

.images3 {
  display: inline-flex;
  justify-content: flex-start;
}

.box {
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.explode , .watch , .glasses {
  display: column;
  border: 4px solid black;
  margin-left: 3rem;
}

.imgpen {
  height: 9rem;
  width: 9rem;
  margin: 2rem 2rem;
  display: flex;
  background-image: url(https://s3.amazonaws.com/codecademy-content/courses/freelance-1/unit-5/secret-agent-supply/resources/images/pen.png);
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
}
.imgwatch {
  height: 9rem;
  width: 9rem;
  margin: 2rem 2rem;
  display: flex;
  background-image: url(https://s3.amazonaws.com/codecademy-content/courses/freelance-1/unit-5/secret-agent-supply/resources/images/watch.png);
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
}
.imgglass {
  height: 9rem;
  width: 9rem;
  margin: 2rem 2rem;
  display: flex;
  background-image: url(https://s3.amazonaws.com/codecademy-content/courses/freelance-1/unit-5/secret-agent-supply/resources/images/glasses.png);
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
}

.txtpen, .txtwatch, .txtglass {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1rem;
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
  color: white;
  background-color: black;
}

.information {
  display: flex;
  justify-content:space-around;
  align-items: center;
  margin-top: 3rem;
  margin-bottom: 4rem;
}

.box2 {
  display: column;
  justify-content: center;
  align-items: center;
}

.location, .hour {
  display: flex;
  color: white;
  background-color: black;
  padding: 1rem 1rem;
  padding-left: 2rem;
  padding-right: 2rem;
  width: 12rem;
}

/* FOOTER */

.ftitle {
  display: flex;
  align-items: center;
  text-align: left;
  color:white;
  background-color: black;
  height: 5rem;
  padding-left: 3rem;
}

/* MEDIA */

@media only screen and (max-width:1024px) {
  .box {
    width: 47%;
  }

  .glasses {
    display: none;
  }
}

@media only screen and (max-width: 470px) {
  .images3,
  .information {
    flex-wrap: wrap;
  }

  .box {
    width: 90%;
    margin: auto;
  }

  .watch {
    display: none;
  }

  .box2 {
    width: 90%;
    margin: 0.5rem auto;
  }

  .footer {
    text-align: center;
  }
}
